/*reset start*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
 */
/** 清除内外边距 **/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
div {
  margin: 0;
  padding: 0;
}
/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/** 重置列表元素 **/
ul,
ol {
  list-style: none;
}
/** 重置文本格式元素 **/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
/** 重置表单元素 **/
legend {
  color: #000;
}
/* for ie6 */
fieldset,
img {
  border: 0;
}
/* img 搭车：让链接里的 img 无边框 */
button,
input,
select,
textarea {
  font-size: 100%;
}
/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*reset end*/
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font: 12px/1.5 'Microsoft YaHei';
  font-weight: 200;
}
button,
a,
input,
select,
textarea {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*1rem = 100px; */
.clearFix:after,
.clearFix:before {
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
  font-size: 0;
}
.clearFix {
  *zoom: 1;
}
.boxSizing {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*iconfont start*/
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1470195008_8584428.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1470195008_8584428.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1470195008_8584428.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1470195008_8584428.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1470195008_8584428.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-brand:before {
  content: "\e601";
}
.icon-shouji:before {
  content: "\e602";
}
.icon-youxiang01:before {
  content: "\e600";
}
.icon-chuanzhen:before {
  content: "\e603";
}
.icon-dianhua-copy:before {
  content: "\e604";
}
/*iconfont end*/
/*动画*/
/*线条*/
@keyframes widthLineMove {
  0% {
    transform: scaleX(0);
  }
  72%,
  88% {
    transform: scaleX(77%);
  }
  to {
    transform: scaleX(100%);
  }
}
.widthLineMove {
  animation: widthLineMove .4s linear .2s both ;
  transform-origin: 100% 0%;
}
@keyframes bottomLineMove {
  from {
    transform: scale(0, 0);
  }
  40% {
    transform: scaleX(0);
  }
  77% {
    transform: scaleY(1);
  }
  to {
    transform: scale(1, 1);
  }
}
.bottomLineMove {
  animation: bottomLineMove .2s linear .4s both;
  transform-origin: 0% 0%;
}
/*介绍*/
@keyframes lightSpeedIn {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  60% {
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.lightSpeedIn {
  animation: lightSpeedIn 0.75s ease-out 0.3s both;
}
/*头像 起点*/
@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  1% {
    opacity: 1;
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  animation: bounceIn .75s .1s both;
}
/*未来网品牌*/
@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
  animation: flipInY .75s .45s both;
}
/*职称*/
@keyframes jello {
  from,
  11.1%,
  to {
    transform: none;
  }
  from {
    opacity: 0;
  }
  22.2% {
    opacity: 1;
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
.jello {
  animation: jello .75s .8s both;
  transform-origin: center;
}
/*信息 logo 二维码等*/
@keyframes slideInUp {
  from {
    transform: translate3d(0, 260%, 0);
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  60% {
    transform: translate3d(0, -5%, 0);
  }
  80% {
    transform: translate3d(0, 5%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  animation: slideInUp .75s 1s both;
}
/*二维码闪烁*/
@keyframes blink-smooth {
  to {
    opacity: 0;
  }
}
.highlight {
  animation: blink-smooth 1s 0.6s both infinite alternate;
}
.highlight-big {
  animation: blink-smooth 1s 1s both infinite alternate;
}
.card-container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  padding: 0 .16rem;
  background: #6d0976 url("../img/card-bg.jpg") top center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 12px;
}
.card-container .animated {
  animation-fill-mode: both;
}
.card-container .main-layout {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 .04rem;
  height: 2rem;
  padding-top: 0.95rem;
}
.card-container .card-line {
  position: relative;
  width: 100%;
  height: 0.9rem;
  margin: 0 auto;
}
.card-container .card-line .line-circle {
  position: absolute;
  left: auto;
  right: 0;
  width: 0.22rem;
  height: 0.22rem;
  margin-top: -0.12rem;
  border: 1px solid #fff;
  border-radius: 0.22rem;
  overflow: hidden;
  animation-duration: .5s;
  animation-delay: .2s;
}
.card-container .card-line .line-circle .circle {
  float: right;
  width: 0.12rem;
  height: 0.12rem;
  margin: 0.04rem;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0.065rem;
}
.card-container .card-line .line-move {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 0.9rem;
  padding-right: .23rem;
  overflow: hidden;
}
.card-container .card-line .line-top {
  float: right;
  width: 100%;
  height: 0;
  padding-right: 100%;
  border-top: 1px solid #fff;
}
.card-container .card-line .line-move-bottom {
  float: left;
  width: 12.5%;
  height: 0.88rem;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
}
.card-container .card-intro {
  position: relative;
  width: 1.29rem;
  height: 0.45rem;
  background: url("../img/introduce.png") center center no-repeat;
  background-size: contain;
  left: 52%;
  margin-top: -0.8rem;
}
.card-container .card-pic {
  position: absolute;
  z-index: 10;
  top: 0.29rem;
  left: 0.36rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.32rem;
  height: 1.32rem;
  padding: 0.1rem;
  border: 1px solid #fff;
  border-radius: 1.325rem;
  overflow: hidden;
  animation-delay: .4s;
}
.card-container .card-pic .pic-bg-circle {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1.09rem;
  height: 1.09rem;
  padding: 0.08rem;
  border-radius: 1.09rem;
  background-image: -webkit-linear-gradient(90deg, #12a1b7, #fff);
  background-image: linear-gradient(90deg, #12a1b7, #fff);
}
.card-container .card-pic .pic-photo {
  width: 0.93rem;
  height: 0.93rem;
  border-radius: 0.93rem;
  background-color: #fff;
}
.card-container .card-logo {
  position: absolute;
  z-index: 100;
  top: 0.24rem;
  left: 1.3rem;
  width: 1.73rem;
  overflow: hidden;
}
.card-container .card-logo .logo-pic {
  width: 1.73rem;
  height: 0.55rem;
  background: url("../img/logo.png") center center no-repeat;
  background-size: contain;
}
.card-container .card-professional {
  position: absolute;
  top: 1.8rem;
  left: 16%;
  height: 0.22rem;
}
.card-container .card-professional .pro-name {
  font-size: 22px;
}
.card-container .info-layout {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin-top: .3rem;
  padding: .06rem;
  background-color: rgba(0, 0, 0, 0.4);
  animation-delay: 1s;
}
.card-container .info-content {
  border: 1px solid #fff;
  padding: .05rem .1rem;
}
.card-container .info-content li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-width: 50%;
  padding-left: .05rem;
}
.card-container .info-content li a {
  color: #fff;
  display: block;
  line-height: .36rem;
}
.card-container .info-content li .icon {
  float: left;
  line-height: .36rem;
  padding-right: 0.06rem;
}
.card-container .info-content li .info-txt {
  line-height: .36rem;
}
.card-container .card-pic-show {
  animation-delay: 1.1s;
}
.card-container .card-slogan {
  margin-top: .1rem;
}
.card-container .card-two-demision {
  position: relative;
  width: 1.13rem;
  height: 1.13rem;
  margin: .15rem auto 0;
  padding: .28rem;
  /*spot*/
}
.card-container .card-two-demision .demision-pic {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #000;
  padding: .07rem;
}
.card-container .card-two-demision .blink-spot {
  position: absolute;
  display: block;
}
.card-container .card-two-demision .top,
.card-container .card-two-demision .bottom {
  left: 50%;
  margin-left: -0.03rem;
}
.card-container .card-two-demision .right,
.card-container .card-two-demision .left {
  top: 50%;
  margin-top: -0.03rem;
}
.card-container .card-two-demision .blink {
  width: .06rem;
  height: .06rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: .03rem;
  animation: blink-smooth 1s 0.6s both infinite alternate;
}
.card-container .card-two-demision .blink.top {
  top: .15rem;
}
.card-container .card-two-demision .blink.bottom {
  bottom: .15rem;
}
.card-container .card-two-demision .blink.right {
  right: .15rem;
}
.card-container .card-two-demision .blink.left {
  left: .15rem;
}
.card-container .card-two-demision .blink-big {
  width: .08rem;
  height: .08rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: .04rem;
  animation: blink-smooth 1s 1s both infinite alternate;
}
.card-container .card-two-demision .blink-big.top {
  top: 0;
  margin-left: -0.04rem;
}
.card-container .card-two-demision .blink-big.bottom {
  bottom: 0;
  margin-left: -0.04rem;
}
.card-container .card-two-demision .blink-big.right {
  right: 0;
  margin-top: -0.04rem;
}
.card-container .card-two-demision .blink-big.left {
  left: 0;
  margin-top: -0.04rem;
}
